/* -- HEADER -- */
.jumbotron {
    background: #00ADB6;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding: 15px 0;
}

#titulo{
    margin-top: 1%;
    margin-left: -5%;
    margin-bottom: 2%;
    width: 85%;
}
#logo{
    position: absolute;
    width: 17%;
    right: 1%;
    top: 0%;
}

.intro{
    width: 75%;
}
.hidden-intro{
    width: 60%;
    left: 94%;
    margin-top: -32%; 
    
}
#prepa{
color: #00ADB6;
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;
}

#parrafop{
color: #9C9F9F;
font-size: 17px;
font-family:  Arial, Helvetica, sans-serif;
}

#parrafop2{
color: #9C9F9F;
font-size: 17px;
font-family:  Arial, Helvetica, sans-serif;
border-bottom: 5px solid #00adb6;
}


.red-box {
    background-color: #e75d61;
    color: #fff;
    border-left: 7px solid #e75d61;
    font-family: Arial, Helvetica, sans-serif;
}

.red-mark {
    background-color: #d12225;
    left: 0px;
    position: absolute;
    width: 7px;
    height: 100%;
}

.blue-box {
    background-color: #25c8c0;
    color: #fff;
    border-left: 7px solid #00adb6;
    font-family: Arial, Helvetica, sans-serif;
}

.blue-mark {
    background-color: #007873;
    left: 0px;
    position: absolute;
    width: 7px;
    height: 100%;
}

.small-space {
    margin-top: 2%;
}

.text {
    font-size: 18px;
}

#info1 {    
    margin-top: .7%;
}

#cursos{
color: #E75D61;
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;
}

.introc{
width: 70%;
}

#parrafoc1{
color: #9C9F9F;
font-size: 17px;
font-family:  Arial, Helvetica, sans-serif;
border-top: 5px solid #00adb6;
}

#parrafoc2{
color: #9C9F9F;
font-size: 17px;
font-family:  Arial, Helvetica, sans-serif;
}

.hidden-introc{
    width: 60%;
    left: 94.5%;
    margin-top: -28.5%;
}