/* -- HEADER -- */


/* -- GERO -- */
#estudiarEnLinea{
    background-color: #F2F2F2;
}

#divENL{
    padding-top: 20px;
}

#headerENL{
    font-size: 35px;
    color: #E75D61;
    font-family: Arial, Helvetica, sans-serif;
}

#prgENL{
    text-align: left;
    font-size: 19px;
    color:  #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: expanded;
}

#imgENL{
    width: 270px;
    right: 270px;
}

#divRequisitos{
    border-left: 2px solid #00ADB6;
}

.textSec{
    text-align: left;
    font-size: 18px;
    color:  #AF9999;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: expanded;
    text-align: justify;
}

ul.tips{
    text-align: justify;
    margin-left: 15px;
}

.complementovacio{
    color: #F2F2F2;
}

/* - GERO FIN- */

.jumbotron {
    background: #00ADB6;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding: 13px 0;
}

#titulo{
    margin-top: 1%;
    margin-left: -5%;
    margin-bottom: 2%;
    width: 85%;
}
#logo{
    position: absolute;
    width: 17%;
    right: 1%;
    top: 0%;
}

#prepa{
color: #00ADB6;
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;
}

#parrafop{
color: #9C9F9F;
font-size: 17px;
font-family:  Arial, Helvetica, sans-serif;
margin-left: 5%;
margin-right: 20%;
border-bottom: 5px solid #00adb6;
}

#libros{
    position: absolute;
    left: 235%;
    bottom : 10%;
}

.red-box {
    background-color: #e75d61;
    color: #fff;
    border-left: 7px solid #e75d61;
    font-family: Arial, Helvetica, sans-serif;
}

.red-mark {
    background-color: #d12225;
    left: 0px;
    position: absolute;
    width: 7px;
    height: 100%;
}

.blue-box {
    background-color: #25c8c0;
    color: #fff;
    border-left: 7px solid #00adb6;
    font-family: Arial, Helvetica, sans-serif;
}

.blue-mark {
    background-color: #007873;
    left: 0px;
    position: absolute;
    width: 7px;
    height: 100%;
}

.small-space {
    margin-top: 2%;
}

.text {
    font-size: 18px;
}

#info1 {    
    margin-top: .7%;
}
